@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --header-links-gr: linear-gradient(to right, #025DF8 0%, #032C72 70%);
    --linear-gr-str: linear-gradient(to right, rgb(8, 80, 205) 0%, rgb(11, 56, 133) 70%);
    --header-links-color: #025DF8;
    --main-line-height: 60px;
    --main-letter-spacing: 5%;
    --header-large-fs: clamp(26px, 4vw, 50px);
    --header-fs: clamp(26px, 2.8vw, 40px);
    --medium-large-fs: clamp(21px, 2.2vw, 36px);
    --regular-fs: clamp(16px, 1.8vw, 32px);
    --small-fs: clamp(15px, 1.5vw, 28px);
    --fine-print-fs: clamp(12px, 1vw, 26px);

    

    --hdr-height: clamp(37.5px, 6.25vw, 120px);
    --hdr-logo-width: clamp(98.7px, 16.45vw, 315.79px);
    --hdr-logo-height: clamp(16.8px, 2.80vw, 53.68px);
    --hdr-cnts-width: clamp(134.7px, 22.45vw, 431px);
    --hdr-cnts-height: clamp(22.14px, 3.69vw, 70.9px);
    --hdr-cnts-large-icon-width: clamp(10.68px, 1.78vw, 34.14px);
    --hdr-cnts-small-icon-width: clamp(6.12px, 1.02vw, 19.54px);
    --hdr-cnts-small-fs: clamp(5.1px, 0.85vw, 16.24px);
    --hdr-sections-wrapper: clamp(216.9px, 36.15vw, 694px);
    
    --nav-sections-large: clamp(6.54px, 1.09vw, 21px);
    --nav-sections-small: clamp(5.1px, 0.85vw, 16.24px);
    --nav-emerging-part-fs: clamp(5px, 0.85vw, 17px);
    

    --bnr-bullet: clamp(8.58px, 1.43vw, 27.41px);
    --bnr-title: clamp(14.28px, 2.38vw, 45px);
    --bnr-top-line: clamp(5.58px, 0.93vw, 17.81px);
    --bnr-call-btn: clamp(5.28px, 0.88vw, 18px);
    --bnr-price-btn: clamp(5.28px, 0.88vw, 18px);
    --bnr-phone-btn: clamp(5.28px, 0.88vw, 18px);
    
    --bnr-height: clamp(235.02px, 39.17vw, 752px);
    
    --bnr-margin-block: clamp(25.92px, 4.32vw, 83.02px);
    --bnr-btn-hld-width: clamp(199.74px, 33.29vw, 639.18px);
    --bnr-btn-hld-height: clamp(53.1px, 8.85vw, 169.94px);
    --bnr-wrapper-width: clamp(199.74px, 33.29vw, 639.18px);
    --bnr-wrapper-height: clamp(131.28px, 21.88vw, 420px);
    --bnr-phone-btn-height: clamp(21.24px, 3.54vw, 67.97px);
    --bnr-phone-btn-width: clamp(96.3px, 16.05vw, 308.08px);
    --bnr-call-btn-height: clamp(21.24px, 3.54vw, 67.97px);
    --bnr-call-btn-width: clamp(95.94px, 15.99vw, 306.98px);
    --bnr-price-btn-height: clamp(21.3px, 3.55vw, 68.25px);
    --bnr-price-btn-width: clamp(76.68px, 12.78vw, 245.32px);
    
    --phone-height: clamp(252px, 42vw, 806.37px);
    --phone-width: clamp(161.04px, 26.84vw, 515.29px);
    --phone-top-offset: clamp(15.0px, 2.5vw, 48px);
    --phone-left-offset: clamp(352.74px, 58.79vw, 1128.79px);
    


    /* Sale */
    --sale-margin-top: clamp(52.2px, 8.7vw, 141px);
    --sale-subgroup-margin-top: clamp(26.28px, 4.38vw, 79px);
    --sale-subgroup-height: clamp(176.94px, 29.49vw, 534.48px);
    --sale-subgroup-rgl-fs: clamp(9.78px, 1.63vw, 30px);
    --sale-subgroup-span-fs: clamp(15.3px, 2.55vw, 45.36px);
    --sale-subgroup-title-fs: clamp(15.0px, 2.5vw, 55px);
    --sale-main-image-width: clamp(311.34px, 51.89vw, 940.42px);
    --sale-main-image-height: clamp(243.54px, 40.59vw, 735.72px);
    --sale-play-btn-width: clamp(30.06px, 5.01vw, 90.72px);
    --sale-red-sticker-width: clamp(52.02px, 8.67vw, 157.05px);
    --sale-red-sticker-height: clamp(37.08px, 6.18vw, 112.06px);
    --sale-red-sticker-left: clamp(317.94px, 52.99vw, 1014.71px);
    --sale-red-sticker-top:  calc(clamp(62.28px, 10.38vw, 171.49px) - var(--sale-margin-top));
    --sale-invite-btn-fs: clamp(5.58px, 0.93vw, 25px);
    --sale-invite-btn-width: clamp(79.14px, 13.19vw, 317.54px);
    --sale-invite-btn-height: clamp(23.46px, 3.91vw, 70.31px);
    --sale-fine-print-fs: clamp(5.34px, 0.89vw, 24.56px);
    --sale-fine-print-width: clamp(153.18px, 25.53vw, 544.24px);
    --sale-fine-print-top: clamp(230.7px, 38.45vw, 798px);
    --sale-fine-print-left: clamp(372.0px, 62.0vw, 1120px);
    --sale-play-btn-left: clamp(264.0px, 44.0vw, 815.51px);
    --sale-play-btn-top: calc(clamp(126.12px, 21.02vw, 364.28px) - var(--sale-margin-top));

    /* Project */

    --prj-margin-block: clamp(31.26px, 5.21vw, 94px);
    --prj-outer-wrapper-width: clamp(421.86px, 70.31vw, 1350px);
    --prj-title-fs: clamp(14.28px, 2.38vw, 45px);
    --prj-subtitle-width: clamp(544.8px, 90.8vw, 1350px);
    --prj-subtitle-fs: clamp(7.5px, 1.25vw, 24px);
    --prj-img-cnt-width: clamp(98.82px, 16.47vw, 316.16px);
    --prj-fine-print-fs: clamp(4.08px, 0.68vw, 13px);
    --prj-grid-gap: clamp(9.0px, 1.5vw, 28.5px);

    /* About */

    --abt-padding-block: clamp(10.62px, 1.77vw, 34px);
    --abt-main-cnt-width: clamp(525px, 87.5vw, 1680px);
    --abt-big-btn-right-width: clamp(66.36px, 11.06vw, 212.33px);
    --abt-float-left-small-fs: clamp(4.38px, 0.73vw, 14px);
    --abt-float-left-large-fs: clamp(5.64px, 0.94vw, 18px);
    --abt-float-left-height: clamp(57.06px, 9.51vw, 182.56px);
    --abt-float-left-width: clamp(58.92px, 9.82vw, 188.51px);
    --abt-float-left-left: clamp(280.02px, 46.67vw, 896px);
    --abt-float-left-top: clamp(97.8px, 16.3vw, 313px);
    --abt-float-top-small-fs: clamp(3.42px, 0.57vw, 11px);
    --abt-float-top-large-fs: clamp(4.38px, 0.73vw, 14px);
    --abt-float-top-height: clamp(41.52px, 6.92vw, 132.95px);
    --abt-float-top-width: clamp(45.6px, 7.6vw, 145.85px);
    --abt-float-top-left: clamp(389.52px, 64.92vw, 1246.42px);
    --abt-float-top-top: clamp(39.78px, 6.63vw, 127.27px);
    --abt-float-bottom-small-fs: clamp(4.38px, 0.73vw, 14px);
    --abt-float-bottom-large-fs: clamp(5.64px, 0.94vw, 18px);
    --abt-float-bottom-height: clamp(79.08px, 13.18vw, 253px);
    --abt-float-bottom-width: clamp(76.86px, 12.81vw, 246px);
    --abt-float-bottom-left: clamp(422.22px, 70.37vw, 1351px);
    --abt-float-bottom-top: clamp(220.92px, 36.82vw, 707px);
    --abt-float-img-left-width: clamp(62.34px, 10.39vw, 199.43px);
    --abt-float-img-left-height: clamp(54.24px, 9.04vw, 173.63px);
    --abt-flex-sb-small-fs: clamp(3.78px, 0.63vw, 14px);
    --abt-flex-sb-extra-large-fs: clamp(17.28px, 2.88vw, 55px);
    --abt-big-btn-fs: clamp(5.28px, 0.88vw, 18px);
    --abt-big-btn-height: clamp(18.84px, 3.14vw, 61px);
    --abt-big-btn-left-width: clamp(103.44px, 17.24vw, 331px);
    --abt-about-par-fs: clamp(5.28px, 0.88vw, 18px);
    --abt-about-header-fs: clamp(7.5px, 1.25vw, 24px);
    --abt-about-title-fs: clamp(14.28px, 2.38vw, 45px);
    --abt-main-img-width: clamp(319.74px, 53.29vw, 1023.18px);
    --abt-main-img-height: clamp(232.56px, 38.76vw, 744.14px);
    --abt-flex-sb-medium-fs: clamp(5.28px, 0.88vw, 18px);
    --abt-small-float-hdr-fs: clamp(5.28px, 0.88vw, 17px);
    --abt-small-float-par-fs: clamp(3.78px, 0.63vw, 14px);
    --abt-small-float-width: clamp(95.52px, 15.92vw, 305.59px);
    --abt-grid-gap: clamp(10.26px, 1.71vw, 33px);
    --abt-par-wrapper-width: clamp(148.14px, 24.69vw, 474px);
    --abt-float-left-offset: clamp(75px, 12.5vw, 240px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    letter-spacing: 5%;
}

button {
    font-family: 'Montserrat';
}

p {
    margin-block: 0.3em;
}

img {
    max-width: 100%;
}

.outer-wrapper { 
    min-height: 100vh;
}

.centering > * {
    width: 75%;
    margin-inline: auto;
}

/******* Header *******/

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--hdr-height) + var(--abt-padding-block));
}

.primary-nav ul {
    display: flex;
    justify-content: space-evenly;
    width: var(--hdr-sections-wrapper);
}

.link-group-left {
    flex-shrink: 0;
}

.primary-nav li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--nav-sections-large);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.primary-nav li:hover, .primary-nav li:focus {
    color: #032C72;
    font-weight: 800;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    width: var(--hdr-cnts-width);
    height: var(--hdr-cnts-height);
    gap: 1em;
}

.list-item-underline {
    position: relative;
}

.list-item-underline::after {
    content: '';
    position: absolute;
    bottom: -1.5em; 
    left: 0;
    width: 50%; 
    height: 0.2em; 
    background: var(--header-links-gr); 
}

.nav-link {
    word-wrap: none;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    font-size: var(--nav-sections-small);
}

.main-logo {
    width: var(--hdr-logo-width);
    height: var(--hdr-logo-height);
}

.flex-nav-subgroup.margin-bottom {
    margin-bottom: 1em;
}

.flex-nav-subgroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.nav-large-icons-subwrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.7em;
}

.nav-emerging-par {
    opacity: 0;
    font-size: var(--nav-emerging-part-fs);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: opacity 0.5s ease-in-out;

    background: var(--header-links-gr);
    color: #025DF8; 

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nav-large-icon {
    width: var(--hdr-cnts-large-icon-width);
}

.cnts-small-icon {
    width: var(--hdr-cnts-small-icon-width);
}

/****** Banner section *******/

.bnr-outer-wrapper {
    background-image: url(assets/images/banner-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.bnr-wrapper {
    letter-spacing: 1px;
    height: var(--bnr-height);
}

.bnr-title-wrapper {
    margin-bottom: 1em;
}

.bnr-left {
    padding-block: var(--bnr-margin-block);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.bnr-left p {
    margin-block: 1em;
}

.bnr-first-pr {
    font-weight: 600;
    font-size: var(--bnr-top-line);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.btn-subgroup-outer-wrapper {
    height: var(--bnr-btn-hld-height);
    width: var(--bnr-btn-hld-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.btn-subgroup-inner-wrapper {
    height: var(--bnr-wrapper-height);
    width: var(--bnr-wrapper-width);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bnr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
    border-radius: 14.45px;
    flex-shrink: 0;
    cursor: pointer;
    letter-spacing: 1.3px;
}

.bnr-btn.price {
    font-size: var(--bnr-price-btn);
    width: var(--bnr-price-btn-width);
    height: var(--bnr-price-btn-height);
}

.bnr-btn.call {
    color: #fff;
    background-color: #025DF8;
    width: var(--bnr-call-btn-width);
    height: var(--bnr-call-btn-height);
    font-size: var(--bnr-call-btn);

}

.bnr-btn.phone {
    font-weight: 500;
    width: var(--bnr-phone-btn-width);
    height: var(--bnr-phone-btn-height);
    font-size: var(--bnr-phone-btn);

}

.bnr-header {
    font-weight: 800;
    font-size: var(--bnr-title);
}

.bnr-subgroup {
    margin-bottom: 1.5em;
    font-size: var(--bnr-bullet);
    font-weight: 500;
    
}

.bnr-subgroup p {
    background-image: url(assets/images/bnr-bullet.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 1.5em;
    background-size: 1em;
}

.bnr-img-holder {
    position: absolute;
    width: var(--phone-width);
    height: var(--phone-height);
    top: var(--phone-top-offset);
    left: var(--phone-left-offset);
}

.phone-img {
    height: 100%;
    width: 100%;
}

.video-1, .video-2 {
    position: absolute;
    width: 58%;
    left: 21%;
    border-radius: 5px;
}

.video-1 {
    top: 27.5%;
    bottom: 51.5%;
}

.video-2 {
    top: 55%;
    bottom: 24.5%;
}

/****** Sale section *******/

.sale-outer-wrapper {
    position: relative;
}

.sale-grid-group {
    margin-block: var(--sale-margin-top);
    display: grid;
    grid-template-columns: var(--sale-main-image-width) 1fr;
}

.ads_image {
    width: 100%;
    height: 100%;
}

.right-subgroup-content {
    margin-top: var(--sale-subgroup-margin-top);
    height: var(--sale-subgroup-height);
    text-align: center;
    font-size: var(--sale-subgroup-rgl-fs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grid-group-left {
    width: var(--sale-main-image-width);
    height: var(--sale-main-image-height);
}

.grid-group-right {
    align-self: flex-start;
}

.course-logo {
    position: absolute;
    width: var(--sale-red-sticker-width);
    height: var(--sale-red-sticker-height);
    left: var(--sale-red-sticker-left);
    top: var(--sale-red-sticker-top);
}

#video-play-button {
    position: absolute;
    width: var(--sale-play-btn-width);
    left: var(--sale-play-btn-left);
    top: var(--sale-play-btn-top);
    cursor: pointer;
}

.right-subgroup-title {
    font-size: var(--sale-subgroup-title-fs);
    background: var(--header-links-gr);
    color: #032C72; 

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.sale-subgroup-span {
    color: rgba(3, 44, 114, 1);
    font-size: var(--sale-subgroup-span-fs);
    font-weight: 600;
}

.invite {
    text-transform: uppercase;
    background: var(--header-links-gr);
    width: var(--sale-invite-btn-width);
    height: var(--sale-invite-btn-height);
    border: none;
    color: #fff;
    font-weight: 800;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: var(--sale-invite-btn-fs);
    flex-shrink: 0;
}

.right-subgroup-fineprint {
    display: block;
    position: absolute;
    width: var(--sale-fine-print-width);
    font-size: var(--sale-fine-print-fs);
    top: var(--sale-fine-print-top);
    left: var(--sale-fine-print-left);
    font-weight: 500;
    line-height: 1;
    color: #1D1D1E;
}

/****** Projects section *******/

.projects-outer-wrapper {
    background: var(--linear-gr-str);
    padding-block: var(--prj-margin-block);
}

.projects-inner-wrapper {
    text-align: center;
    color: #fff;
}

.projects-inner-wrapper h2 {
    font-size: var(--prj-title-fs);
    text-transform: uppercase;
}

.project-par-wrapper {
    font-size: var(--prj-subtitle-fs);
    margin-block: calc(var(--prj-margin-block) / 2);
    width: calc(var(--prj-subtitle-width) / 1.5);
    margin-inline: auto;
    font-weight: 500;
}

.projects-grid-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--prj-outer-wrapper-width);
    gap: var(--prj-grid-gap);
}

.project-image {
    position: relative;
    aspect-ratio: 1 / 1;
    width: var(--prj-img-cnt-width);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    border: 2px solid white;
}

.project-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(3, 44, 114, 0.6);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-img-overlay:hover {
    opacity: 1;
}

.loupe {
    width: 20%;
    margin-top: 25%;
}

.gallery-img-text {
    padding: 1em 3em;
    font-size: var(--prj-fine-print-fs);
    background-color: rgba(3, 44, 114, 0.6);
    border-radius: 0 0 15px 15px;
}

.project-image.first {
    background-image: url(assets/images/gallery1.png);
}

.project-image.second {
    background-image: url(assets/images/gallery2.png);
}

.project-image.third {
    background-image: url(assets/images/gallery3.png);
}

.project-image.fourth {
    background-image: url(assets/images/gallery4.png);
}

/****** About section *******/

.about-outer-wrapper {
    padding-top: var(--abt-padding-block);
    padding-bottom: calc(var(--abt-padding-block) * 2);
    position: relative;
}

.about-inner-wrapper {
    width: 87.5%;
    margin-inline: 0;
    margin-left: auto;
}

.about-title {
    display: flex;
    align-items: center;
    gap: 14%;
    font-size: var(--abt-about-title-fs);
    background: var(--header-links-gr);
    color: #032C72;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.about-grid-group {
    display: grid;
    grid-template-columns: 1fr var(--abt-main-img-width);
    gap: var(--abt-grid-gap);
}

.about-float-left {
    float: left;
    width: var(--abt-float-img-left-width);
    height: var(--abt-float-img-left-height);
}

.about-float-right {
   height: var(--abt-main-img-height);
   width: var(--abt-main-img-width);
   position: relative;
   top: -1%;
   border-radius: 10px;
}

.about-header {
    font-size: var(--abt-about-header-fs);
    margin-block: var(--abt-padding-block);
    text-transform: uppercase;
}

.about-par {
    font-size: var(--abt-about-par-fs);
    width: var(--abt-par-wrapper-width);
    font-weight: 500;
}

.about-buttons-wrapper {
    padding-block: var(--abt-padding-block);
    display: flex;
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: var(--abt-big-btn-fs);
    font-weight: 800;
    height: var(--abt-big-btn-height);
    flex-shrink: 0;
}

.view-projects {
    margin-right: 1em;
    background: var(--header-links-gr);
    color: #fff;
    width: var(--abt-big-btn-left-width);
}

.contacts-btn {
    border: 2px solid rgb(3, 44, 114);
    color: rgb(3, 44, 114);
    width: var(--abt-big-btn-right-width);
}

.about-flex-subgroup {
    padding-block: var(--abt-padding-block);
    display: flex;
    gap: 0.5em;
}

.about-flex-subgroup.top {
    gap: var(--abt-padding-block);
}

.about-flex-subgroup.bottom {
    gap: 3em;
}

.flex-sb-extra-large {
    font-size: var(--abt-flex-sb-extra-large-fs);
    font-weight: 600;
}

.flex-sb-small {
    font-size: var(--abt-flex-sb-small-fs);
    display: block;
}

.flex-sb-extra-large, .flex-sb-medium {
    background: var(--header-links-gr);
    color: #032C72;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.flex-sb-medium {
    font-weight: 700;
    font-size: var(--abt-flex-sb-medium-fs);
    border-bottom: 0.2em solid transparent;
    border-image: linear-gradient(to right, #025DF8, #032C72) 1;
    padding-bottom: 0.3em;
}

.about-bottom-wrapper {
    margin-top: calc(var(--abt-padding-block) * 2);
    display: grid;
    grid-template-columns: repeat(4, calc(var(--abt-small-float-width)));
    justify-content: space-between;
}

.about-outer-wrapper h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--abt-small-float-hdr-fs);
    min-height: var(--abt-padding-block);
}

.about-grid-element p {
    font-size: var(--abt-small-float-par-fs);
    font-weight: 500;
}

.small-float {
    border-radius: 10px;
    text-align: center;
    padding: calc(var(--abt-padding-block) / 2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.small-float-left {
    left: calc(var(--abt-float-left-left) - var(--abt-padding-block));
    top: var(--abt-float-left-top);
    width: var(--abt-float-left-width);
    background-color: rgba(255, 255, 255, 0.9);
}

.small-float-left h4 {
    font-size: var(--abt-float-left-large-fs);
}
.small-float-left p {
    font-size: var(--abt-float-left-small-fs);
}
.small-float-bottom h4 {
    font-size: var(--abt-float-bottom-large-fs);
}
.small-float-bottom p {
    font-size: var(--abt-float-bottom-small-fs);
}
.small-float-top h4 {
    font-size: var(--abt-float-top-large-fs);
}
.small-float-top p {
    font-size: var(--abt-float-top-small-fs);
}

.small-float-top {
    left: var(--abt-float-top-left);
    top: var(--abt-float-top-top);
    width: var(--abt-float-top-width);
    background-color: rgba(255, 255, 255, 0.9);
}

.small-float-bottom {
    background: var(--header-links-gr);
    color: #fff;
    width: var(--abt-float-bottom-width);
    left: calc(var(--abt-float-bottom-left) - (var(--abt-float-left-offset) / 2));
    top: calc(var(--abt-float-bottom-top) + var(--abt-padding-block) * 2);
}

.small-float-left, .small-float-top {
    color: #134498;    
}

.small-float h4 {
    min-height: 0;
    margin-block: 0.5em;
}

/****** Form section *******/

.form-outer-wrapper {
    height: calc(var(--phone-height-2) * 0.65);
    background: var(--header-links-gr);
}
.form-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    margin-inline: auto;
    gap: 1em;
}

.form-image-holder {
    height: var(--phone-height-2);
    position: relative;
    top: -10%;
    bottom: -10%;
    aspect-ratio: 1 / 1.5;
}

.form-image {
    height: 100%;
}

#call-us-form {
    height: calc(var(--phone-height-2) * 0.55);
    margin-top: clamp(1em, 3vw, 2em);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.form-header {
    font-size: var(--header-fs);
    font-weight: 800;
    text-transform: uppercase;
}

.form-par {
    font-size: var(--regular-fs);
    font-weight: 600;
}

.policy-par {
    font-size: var(--fine-print-fs);
}

.input-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.input-wrapper input {
    font-size: var(--small-fs);
    text-align: center;
}


.input-wrapper > * {
    border-radius: 15px;
    padding: 0.5em 1em;
}

#submit-form-btn {
    border-radius: 15px;
    font-size: var(--small-fs);
    text-transform: uppercase;
    background-color: #025DF8;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    padding: 0.7em 2.2em;
    letter-spacing: 1px;
}

.policy-par {
    font-weight: 500;
}

.policy-link {
    font-weight: 800;
    color: white;
}
