@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --header-links-gr: linear-gradient(to right bottom, #025DF8 30%, #032C72 70%);
    --linear-gr-str: linear-gradient(to right, rgba(2, 93, 248, 1)   30%, rgba(3, 44, 114, 1) 70%);
    --header-links-color: #025DF8;
    --main-line-height: 60px;
    --main-letter-spacing: 5%;
    --header-large-fs: clamp(28px, 5vw, 55px);
    --header-fs: clamp(28px, 3vw, 45px);
    --medium-large-fs: clamp(23px, 2.5vw, 40px);
    --regular-fs: clamp(18px, 2vw, 35px);
    --small-fs: clamp(15px, 1.5vw, 31px);
    --fine-print-fs: clamp(12px, 1vw, 28px);

    --phone-height: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-size: 1rem;
    letter-spacing: 5%;
}

button {
    font-family: 'Montserrat';
}

p {
    margin-block: 0.3em;
}

img {
    max-width: 100%;
}

.outer-wrapper { 
    min-height: 100vh;
}

.centering > * {
    width: 75%;
    margin-inline: auto;
}

/******* Header *******/

.logo {
    width: 18%;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    aspect-ratio: 6/1;
    justify-content: space-evenly;
    gap: 2em;
}

.primary-nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.primary-nav li {
    list-style: none;
    text-transform: uppercase;
    font-size: clamp(12px, 2vw, 19px);
}

.links-wrapper {
    width: 28%;
}

/****** Banner section *******/

.bnr-outer-wrapper {
    background-image: url(assets/images/banner-bg.png);
    background-size: cover;
    background-position: center;
}

.bnr-wrapper {
    display: flex;
    gap: 2em;
    height: var(--phone-height);
    position: relative;
    letter-spacing: 1px;
    font-size: clamp(18px, 2vw, 35px);
}

.bnr-left {
    width: 60%;
    padding-block: clamp(1em, 5vw, 2em);
    color: #fff;
}
.bnr-left p {
    margin-block: 1em;
}

.bnr-first-pr {
    font-weight: 800;
}

.bnr-subgroup p {
    background-image: url(assets/images/plus-mark.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 1.2em;
    background-size: 1em;
}

.bnr-right {
    width: 40%;
}

.btn-subgroup-outer-wrapper {
    display: grid;
    gap: 1em;
    justify-content: left;
}

.btn-subgroup-inner-wrapper {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
}

.bnr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;
    height: 2.2em;
    font-weight: 800;
    border-radius: 10px;
    font-size: clamp(18px, 2vw, 30px);
}

.bnr-btn.price {
    width: 9em;
}

.bnr-btn.call {
    width: 13em;
    color: #fff;
    background-color: #025DF8;
}

.bnr-btn.phone {
    font-weight: 500;
    width: 11em;
}

.bnr-header {
    font-size: clamp(28px, 3vw, 45px);
}

.bnr-subgroup {
    margin-bottom: 1.5em;
}

.bnr-img-holder {
    height: 90%;
    aspect-ratio: 3/4;
    position: relative;
    bottom: -15%;
}

.video-1, .video-2 {
    position: absolute;
    width: 277px;
    left: 18%;
    background-color: #fff;
    border-radius: 5px;
}

.video-1 {
    top: 28%;
    bottom: 50%;

}

.video-2 {
    top: 56%;
    bottom: 21%;
}

/****** Sale section *******/

.sale-grid-group {
    margin-block: clamp(2.5rem, 10vw, 5rem);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3em;
}

.ads_image {
    width: 100%;
}

.right-subgroup-content {
    text-align: center;
    font-size: var(--small-fs);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-group-left {
    position: relative;
}

.course-logo {
    position: absolute;
    width: 20%;
    right: 3%;
    top: 3%;
}

#video-play-button {
    position: absolute;
    width: 10%;
    right: 32%;
    top: 32%;
    cursor: pointer;
}

.right-subgroup-title {
    margin-block: 1em;
    font-size: var(--header-fs);
    background: var(--header-links-gr);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.right-subgroup-highlighted {
    color: rgba(3, 44, 114, 1);
}

.invite {
    text-transform: uppercase;
    background: var(--header-links-gr);
    border: none;
    color: #fff;
    padding: 1em;
    font-weight: 800;
    border-radius: 10px;
    margin-block: 2em;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: var(--small-fs);
}

.right-subgroup-fineprint {
    margin-top: 4em;
    position: relative;
    width: 110%;
    right: 5%;
    font-size: var(--fine-print-fs);
    text-align: left;
    font-weight: 500;
    line-height: 1;
}

/****** Projects section *******/

.projects-outer-wrapper {
    background: var(--linear-gr-str);
    padding-block: clamp(2.5rem, 10vw, 5rem);
}

.projects-inner-wrapper {
    text-align: center;
    color: #fff;
}

.projects-inner-wrapper h2 {
    font-size: var(--header-large-fs);
}

.project-par-wrapper {
    font-size: var(--regular-fs);
    margin-block: clamp(1.5em, 5vw, 3em);
    width: 80%;
    margin-inline: auto;
}

.projects-grid-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2em;
}

.project-image {
    position: relative;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    border: 1.5px solid white;
}

.project-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(3, 44, 114, 0.6);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-img-overlay:hover {
    opacity: 1;
}

.loupe {
    width: 20%;
    margin-top: 25%;
}

.gallery-img-text {
    padding: 1em 3em;
    font-size: 0.8vw;
    background-color: rgba(3, 44, 114, 0.6);
    border-radius: 0 0 15px 15px;
}

.project-image.first {
    background-image: url(assets/images/gallery1.png);
}

.project-image.second {
    background-image: url(assets/images/gallery2.png);
}

.project-image.third {
    background-image: url(assets/images/gallery3.png);
}

.project-image.fourth {
    background-image: url(assets/images/gallery4.png);
}

@media screen and (max-width: 1300px) {
    :root { 
        --phone-height: 600px;
    }
    .video-1 {
        width: 237px;
        top: 32%;
        bottom: 43%;
        left: 20.5%;
    }
    
    .video-2 {
        width: 237px;
        top: 64%;
        bottom: 11%;
        left: 20.5%;
    }
    .bnr-img-holder {
        bottom: -5%;
    }
}

@media screen and (max-width: 900px) {
    .centering > * {
        width: 90%;
    }
}