@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --header-links-gr: linear-gradient(to right, #025DF8 0%, #032C72 70%);
    --main-gr2: linear-gradient(to right, #025DF8 0%, #032C72 90%);
    --linear-gr-str: linear-gradient(to right, rgb(8, 80, 205) 0%, rgb(11, 56, 133) 70%);
    --header-links-color: #025DF8;
    --header-large-fs: clamp(26px, 4vw, 50px);
    --header-fs: clamp(26px, 2.8vw, 40px);
    --medium-large-fs: clamp(21px, 2.2vw, 36px);
    --regular-fs: clamp(16px, 1.8vw, 32px);
    --small-fs: clamp(15px, 1.5vw, 28px);
    --fine-print-fs: clamp(12px, 1vw, 26px);

    

    --hdr-height: clamp(37.5px, 6.25vw, 120px);
    --hdr-logo-width: clamp(98.7px, 16.45vw, 315.79px);
    --hdr-logo-height: clamp(16.8px, 2.80vw, 53.68px);
    --hdr-cnts-width: clamp(134.7px, 22.45vw, 431px);
    --hdr-cnts-height: clamp(22.14px, 3.69vw, 70.9px);
    --hdr-cnts-large-icon-width: clamp(10.68px, 1.78vw, 34.14px);
    --hdr-cnts-small-icon-width: clamp(6.12px, 1.02vw, 19.54px);
    --hdr-cnts-small-fs: clamp(5.1px, 0.85vw, 16.24px);
    --hdr-sections-wrapper: clamp(216.9px, 36.15vw, 694px);
    
    --nav-sections-large: clamp(6.54px, 1.09vw, 21px);
    --nav-sections-small: clamp(5.1px, 0.85vw, 16.24px);
    --nav-emerging-part-fs: clamp(5px, 0.85vw, 17px);
    

    --bnr-bullet: clamp(8.58px, 1.43vw, 27.41px);
    --bnr-title: clamp(14.28px, 2.38vw, 45px);
    --bnr-top-line: clamp(5.58px, 0.93vw, 17.81px);
    --bnr-call-btn: clamp(5.28px, 0.88vw, 18px);
    --bnr-price-btn: clamp(5.28px, 0.88vw, 18px);
    --bnr-phone-btn: clamp(5.28px, 0.88vw, 18px);
    
    --bnr-height: clamp(235.02px, 39.17vw, 752px);
    
    --bnr-margin-block: clamp(25.92px, 4.32vw, 83.02px);
    --bnr-btn-hld-width: clamp(199.74px, 33.29vw, 639.18px);
    --bnr-btn-hld-height: clamp(53.1px, 8.85vw, 169.94px);
    --bnr-wrapper-width: clamp(199.74px, 33.29vw, 639.18px);
    --bnr-wrapper-height: clamp(131.28px, 21.88vw, 420px);
    --bnr-phone-btn-height: clamp(21.24px, 3.54vw, 67.97px);
    --bnr-phone-btn-width: clamp(96.3px, 16.05vw, 308.08px);
    --bnr-call-btn-height: clamp(21.24px, 3.54vw, 67.97px);
    --bnr-call-btn-width: clamp(95.94px, 15.99vw, 306.98px);
    --bnr-price-btn-height: clamp(21.3px, 3.55vw, 68.25px);
    --bnr-price-btn-width: clamp(76.68px, 12.78vw, 245.32px);
    
    --phone-height: clamp(252px, 42vw, 806.37px);
    --phone-width: clamp(161.04px, 26.84vw, 515.29px);
    --phone-top-offset: clamp(15.0px, 2.5vw, 48px);
    --phone-left-offset: clamp(352.74px, 58.79vw, 1128.79px);


    /* Banner extra sections */

    --bnr-float-left-width: clamp(60.96px, 10.16vw, 195.15px);
    --bnr-float-left-height: clamp(46.92px, 7.82vw, 150.2px);
    --bnr-float-left-left-offset: clamp(323.28px, 53.88vw, 1034.5px);
    --bnr-float-left-top-offset: clamp(118.14px, 19.69vw, 377.94px);
    --bnr-float-left-large-fs: clamp(9.78px, 1.63vw, 33px);
    --bnr-float-left-small-fs: clamp(4.5px, 0.75vw, 15px);
    --bnr-float-right-width: clamp(50.28px, 8.38vw, 160.84px);
    --bnr-float-right-height: clamp(38.7px, 6.45vw, 123.79px);
    --bnr-float-right-right-offset: clamp(468.66px, 78.11vw, 1499.68px);
    --bnr-float-right-top-offset: clamp(189.36px, 31.56vw, 605.98px);
    --bnr-float-right-large-fs: clamp(4.68px, 0.78vw, 15px);
    --bnr-float-right-small-fs: clamp(4.08px, 0.68vw, 13px);    


    /* Sale */
    --sale-margin-top: clamp(52.2px, 8.7vw, 141px);
    --sale-subgroup-margin-top: clamp(26.28px, 4.38vw, 79px);
    --sale-subgroup-height: clamp(176.94px, 29.49vw, 534.48px);
    --sale-subgroup-rgl-fs: clamp(9.78px, 1.63vw, 30px);
    --sale-subgroup-span-fs: clamp(15.3px, 2.55vw, 45.36px);
    --sale-subgroup-title-fs: clamp(15.0px, 2.5vw, 55px);
    --sale-main-image-width: clamp(311.34px, 51.89vw, 940.42px);
    --sale-main-image-height: clamp(243.54px, 40.59vw, 735.72px);
    --sale-play-btn-width: clamp(30.06px, 5.01vw, 90.72px);
    --sale-red-sticker-width: clamp(52.02px, 8.67vw, 157.05px);
    --sale-red-sticker-height: clamp(37.08px, 6.18vw, 112.06px);
    --sale-red-sticker-left: clamp(317.94px, 52.99vw, 1014.71px);
    --sale-red-sticker-top:  calc(clamp(62.28px, 10.38vw, 171.49px) - var(--sale-margin-top));
    --sale-invite-btn-fs: clamp(5.58px, 0.93vw, 25px);
    --sale-invite-btn-width: clamp(79.14px, 13.19vw, 317.54px);
    --sale-invite-btn-height: clamp(23.46px, 3.91vw, 70.31px);
    --sale-fine-print-fs: clamp(5.34px, 0.89vw, 24.56px);
    --sale-fine-print-width: clamp(153.18px, 25.53vw, 544.24px);
    --sale-fine-print-top: clamp(230.7px, 38.45vw, 798px);
    --sale-fine-print-left: clamp(372.0px, 62.0vw, 1120px);
    --sale-play-btn-left: clamp(264.0px, 44.0vw, 815.51px);
    --sale-play-btn-top: calc(clamp(126.12px, 21.02vw, 364.28px) - var(--sale-margin-top));

    /* Project */

    --prj-margin-block: clamp(31.26px, 5.21vw, 94px);
    --prj-outer-wrapper-width: clamp(421.86px, 70.31vw, 1350px);
    --prj-title-fs: clamp(14.28px, 2.38vw, 45px);
    --prj-subtitle-width: clamp(544.8px, 90.8vw, 1350px);
    --prj-subtitle-fs: clamp(7.5px, 1.25vw, 24px);
    --prj-img-cnt-width: clamp(98.82px, 16.47vw, 316.16px);
    --prj-fine-print-fs: clamp(4.08px, 0.68vw, 13px);
    --prj-grid-gap: clamp(9.0px, 1.5vw, 28.5px);

    /* About */

    --abt-padding-block: clamp(10.62px, 1.77vw, 34px);
    --abt-main-cnt-width: clamp(525px, 87.5vw, 1680px);
    --abt-big-btn-right-width: clamp(66.36px, 11.06vw, 212.33px);
    --abt-float-left-small-fs: clamp(4.38px, 0.73vw, 14px);
    --abt-float-left-large-fs: clamp(5.64px, 0.94vw, 18px);
    --abt-float-left-height: clamp(57.06px, 9.51vw, 182.56px);
    --abt-float-left-width: clamp(58.92px, 9.82vw, 188.51px);
    --abt-float-left-left: clamp(280.02px, 46.67vw, 896px);
    --abt-float-left-top: clamp(97.8px, 16.3vw, 313px);
    --abt-float-top-small-fs: clamp(3.42px, 0.57vw, 11px);
    --abt-float-top-large-fs: clamp(4.38px, 0.73vw, 14px);
    --abt-float-top-height: clamp(41.52px, 6.92vw, 132.95px);
    --abt-float-top-width: clamp(45.6px, 7.6vw, 145.85px);
    --abt-float-top-left: clamp(389.52px, 64.92vw, 1246.42px);
    --abt-float-top-top: clamp(39.78px, 6.63vw, 127.27px);
    --abt-float-bottom-small-fs: clamp(4.38px, 0.73vw, 14px);
    --abt-float-bottom-large-fs: clamp(5.64px, 0.94vw, 18px);
    --abt-float-bottom-height: clamp(79.08px, 13.18vw, 253px);
    --abt-float-bottom-width: clamp(76.86px, 12.81vw, 246px);
    --abt-float-bottom-left: clamp(422.22px, 70.37vw, 1351px);
    --abt-float-bottom-top: clamp(220.92px, 36.82vw, 707px);
    --abt-float-img-left-width: clamp(62.34px, 10.39vw, 199.43px);
    --abt-float-img-left-height: clamp(54.24px, 9.04vw, 173.63px);
    --abt-flex-sb-small-fs: clamp(3.78px, 0.63vw, 14px);
    --abt-flex-sb-extra-large-fs: clamp(17.28px, 2.88vw, 55px);
    --abt-big-btn-fs: clamp(5.28px, 0.88vw, 18px);
    --abt-big-btn-height: clamp(18.84px, 3.14vw, 61px);
    --abt-big-btn-left-width: clamp(103.44px, 17.24vw, 331px);
    --abt-about-par-fs: clamp(5.28px, 0.88vw, 18px);
    --abt-about-header-fs: clamp(7.5px, 1.25vw, 24px);
    --abt-about-title-fs: clamp(14.28px, 2.38vw, 45px);
    --abt-main-img-width: clamp(319.74px, 53.29vw, 1023.18px);
    --abt-main-img-height: clamp(232.56px, 38.76vw, 744.14px);
    --abt-flex-sb-medium-fs: clamp(5.28px, 0.88vw, 18px);
    --abt-small-float-hdr-fs: clamp(5.28px, 0.88vw, 17px);
    --abt-small-float-par-fs: clamp(3.78px, 0.63vw, 14px);
    --abt-small-float-width: clamp(95.52px, 15.92vw, 305.59px);
    --abt-grid-gap: clamp(10.26px, 1.71vw, 33px);
    --abt-par-wrapper-width: clamp(148.14px, 24.69vw, 474px);
    --abt-float-left-offset: clamp(75px, 12.5vw, 240px);

    /* Webform */
    --form-main-img-height: clamp(283.26px, 47.21vw, 906.42px);
    --form-main-img-width: clamp(236.1px, 39.35vw, 755.56px);
    --form-main-subcnt-height: clamp(205.44px, 34.24vw, 657.33px);
    --form-main-img-offset: clamp(79.14px, 13.19vw, 253.33px);
    --form-form-cnt-offset: clamp(301.86px, 50.31vw, 966px);
    --form-btn-cnt-height: clamp(56.82px, 9.47vw, 181.89px);
    --form-btn-cnt-width: clamp(203.1px, 33.85vw, 650px);
    --form-policy-fs: clamp(5.28px, 0.88vw, 16px);
    --form-form-cnt-margin-block: clamp(16.5px, 2.75vw, 54px);

    /* Camera */
    --mrk-main-cnt-height: clamp(189.18px, 31.53vw, 605.33px);
    --mrk-subwrapper-width: clamp(423.96px, 70.66vw, 1356.74px);
    --cmr-main-img-wrapper-width: clamp(316.68px, 52.78vw, 1013.33px);
    --cmr-subtitle-width: clamp(281.58px, 46.93vw, 901px);
    --cmr-main-img-wrapper-height: clamp(195.84px, 32.64vw, 626.67px);
    --cmr-float-img-hdr-fs: clamp(5.28px, 0.88vw, 18px);
    --cmr-float-img-small-fs: clamp(4.5px, 0.75vw, 16px);
    --cmr-float-img-width: clamp(78.42px, 13.07vw, 251px);
    --cmr-float-img-height: clamp(108.78px, 18.13vw, 348px);
    --cmr-float-img-top-offset: clamp(193.68px, 32.28vw, 667px);
    --cmr-float-img-left-offset: clamp(436.38px, 72.73vw, 1396px);
    --cmr-main-img-width: clamp(323.64px, 53.94vw, 1035.61px);
    --cmr-main-img-height: clamp(215.76px, 35.96vw, 690.41px);
    --cmr-main-img-left-offset: clamp(555.42px, 92.57vw, 1777px);
    --cmr-main-img-top-offset: clamp(59.88px, 9.98vw, 238.75px);
    --cmr-icon-width: clamp(15.6px, 2.60vw, 50px);
    --cmr-list-item-fs: clamp(7.5px, 1.25vw, 24px);

    /* Marketing */
    --mrk-subwrapper-height: clamp(106.14px, 17.69vw, 340.48px);
    --mrk-subwrapper-margin-top: clamp(29.52px, 4.92vw, 94.52px);
    --mkr-top-btn-width: clamp(314.28px, 52.38vw, 1005.68px);
    --mrk-top-btn-height: clamp(39.36px, 6.56vw, 125.97px);
    --mrk-top-btn-large-fs: clamp(11.28px, 1.88vw, 36px);
    --mrk-top-btn-small-fs: clamp(7.5px, 1.25vw, 24px);
    --mrk-btm-btn-large-fs: clamp(14.28px, 2.38vw, 45px);
    --mrk-btm-btn-small-fs: clamp(7.5px, 1.25vw, 24px);
    --mrk-btn-icon-width: clamp(19.68px, 3.28vw, 62.99px);
    --mrk-red-btn-fs: clamp(5.28px, 0.88vw, 18px);
    --mrk-red-btn-width: clamp(83.46px, 13.91vw, 267px);
    --mrk-red-btn-height: clamp(20.64px, 3.44vw, 66px);
    --mrk-lowbtn-prg-width: clamp(143.46px, 23.91vw, 459px);
    --mrk-lowbtn-header-width: clamp(142.08px, 23.68vw, 454.55px);
    --mrk-lowbtn-icon-wrapper-width: clamp(49.86px, 8.31vw, 157.5px);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

button {
    font-family: 'Montserrat';
}

p {
    margin-block: 0.3em;
}

img {
    max-width: 100%;
}

.outer-wrapper { 
    min-height: 100vh;
}

.centering > * {
    width: 75%;
    margin-inline: auto;
}

/******* Header *******/

.nav-outer-wrapper {
/*     position: sticky;
    top: 0; */
    z-index: 400;
    background-color: #FFF;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--hdr-height) + var(--abt-padding-block));
}

.primary-nav ul {
    display: flex;
    justify-content: space-evenly;
    width: var(--hdr-sections-wrapper);
}

.link-group-left {
    flex-shrink: 0;
}

.primary-nav li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--nav-sections-large);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.primary-nav li:hover, .primary-nav li:focus {
    color: #032C72;
    font-weight: 800;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    width: var(--hdr-cnts-width);
    height: var(--hdr-cnts-height);
    gap: 1em;
}

.list-item-underline {
    position: relative;
}

.list-item-underline::after {
    content: '';
    position: absolute;
    bottom: -1.5em; 
    left: 0;
    width: 50%; 
    height: 0.2em; 
    background: var(--header-links-gr); 
}

.nav-link {
    word-wrap: none;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    font-size: var(--nav-sections-small);
}

.main-logo {
    width: var(--hdr-logo-width);
    height: var(--hdr-logo-height);
}

.flex-nav-subgroup.margin-bottom {
    margin-bottom: 0.8em;
}

.flex-nav-subgroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.nav-large-icons-subwrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.7em;
    margin-block: 0.4em;
}

.nav-emerging-par {
    opacity: 0;
    font-size: var(--nav-emerging-part-fs);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: opacity 0.5s ease-in-out;

    background: var(--header-links-gr);
    color: #025DF8; 

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.nav-large-icon {
    width: var(--hdr-cnts-large-icon-width);
}

.cnts-small-icon {
    width: var(--hdr-cnts-small-icon-width);
}

/****** Banner section *******/

.bnr-outer-wrapper {
    background-image: url(assets/images/banner-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.bnr-wrapper {
    height: var(--bnr-height);
}

.bnr-title-wrapper {
    margin-bottom: 1em;
}

.bnr-left {
    padding-block: var(--bnr-margin-block);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.bnr-left p {
    margin-block: 1em;
}

.bnr-first-pr {
    font-weight: 600;
    font-size: var(--bnr-top-line);
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.btn-subgroup-outer-wrapper {
    height: var(--bnr-btn-hld-height);
    width: var(--bnr-btn-hld-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.btn-subgroup-inner-wrapper {
    height: var(--bnr-wrapper-height);
    width: var(--bnr-wrapper-width);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bnr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
    border-radius: 14.45px;
    flex-shrink: 0;
    cursor: pointer;
    letter-spacing: 0.15em;
}

.bnr-btn.price {
    font-size: var(--bnr-price-btn);
    width: var(--bnr-price-btn-width);
    height: var(--bnr-price-btn-height);
}

.bnr-btn.call {
    color: #fff;
    background-color: #025DF8;
    width: var(--bnr-call-btn-width);
    height: var(--bnr-call-btn-height);
    font-size: var(--bnr-call-btn);
}

.bnr-btn.phone {
    font-weight: 500;
    width: var(--bnr-phone-btn-width);
    height: var(--bnr-phone-btn-height);
    font-size: var(--bnr-phone-btn);

}

.bnr-header {
    font-weight: 800;
    font-size: var(--bnr-title);
}

.bnr-subgroup {
    margin-bottom: 1.5em;
    font-size: var(--bnr-bullet);
    font-weight: 500;
    
}

.bnr-subgroup p {
    background-image: url(assets/images/bnr-bullet.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 1.5em;
    background-size: 1em;
}

.bnr-img-holder {
    position: absolute;
    width: var(--phone-width);
    height: var(--phone-height);
    top: var(--phone-top-offset);
    left: var(--phone-left-offset);
}

.phone-img {
    height: 100%;
    width: 100%;
}

.video-1, .video-2 {
    position: absolute;
    width: 58%;
    left: 21%;
    border-radius: 5px;
}

.video-1 {
    top: 27.5%;
    bottom: 51.5%;
}

.video-2 {
    top: 55%;
    bottom: 24.5%;
}

.bnr-float {
    position: absolute;
    background-color: #FFFFFFE5;
    border-radius: 9.59px;
    padding: 0.8em 0.6em;
    z-index: 20;
    text-align: center;
}

.bnr-float-left {
    width: var(--bnr-float-left-width);
/*     height: var(--bnr-float-left-height);
 */    top: var(--bnr-float-left-top-offset);
    left: var(--bnr-float-left-left-offset);
}

.bnr-float-title {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding-bottom: 0.3em;
    font-weight: 800;

    background: var(--header-links-gr);
    color: #032C72; 

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.bnr-float-left-title {
    font-size: var(--bnr-float-left-large-fs);
}

.bnr-float-right-title {
    font-size: var(--bnr-float-right-large-fs);
}

.bnr-float-prg {
    font-weight: 500;
}

.bnr-float-left-prg {
    font-size: var(--bnr-float-left-small-fs);
}

.bnr-float-right-prg {
    font-size: var(--bnr-float-right-small-fs);
}

.bnr-float-right {
    width: var(--bnr-float-right-width);
/*     height: var(--bnr-float-right-height);
 */    top: var(--bnr-float-right-top-offset);
    left: var(--bnr-float-right-right-offset);
}

/****** Sale section *******/

.sale-outer-wrapper {
    position: relative;
}

.sale-grid-group {
    margin-block: var(--sale-margin-top);
    display: grid;
    grid-template-columns: var(--sale-main-image-width) 1fr;
}

.ads_image {
    width: 100%;
    height: 100%;
}

.right-subgroup-content {
    margin-top: var(--sale-subgroup-margin-top);
    height: var(--sale-subgroup-height);
    text-align: center;
    font-size: var(--sale-subgroup-rgl-fs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grid-group-left {
    width: var(--sale-main-image-width);
    height: var(--sale-main-image-height);
}

.grid-group-right {
    align-self: flex-start;
}

.course-logo {
    position: absolute;
    width: var(--sale-red-sticker-width);
    height: var(--sale-red-sticker-height);
    left: var(--sale-red-sticker-left);
    top: var(--sale-red-sticker-top);
}

#video-play-button {
    position: absolute;
    width: var(--sale-play-btn-width);
    left: var(--sale-play-btn-left);
    top: var(--sale-play-btn-top);
    cursor: pointer;
}

.right-subgroup-title {
    font-size: var(--sale-subgroup-title-fs);
    background: var(--header-links-gr);
    color: #032C72; 

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.sale-subgroup-span {
    color: rgba(3, 44, 114, 1);
    font-size: var(--sale-subgroup-span-fs);
    font-weight: 600;
}

.invite {
    text-transform: uppercase;
    background: var(--header-links-gr);
    width: var(--sale-invite-btn-width);
    height: var(--sale-invite-btn-height);
    border: none;
    color: #fff;
    font-weight: 800;
    border-radius: 10px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: var(--sale-invite-btn-fs);
    flex-shrink: 0;
}

.right-subgroup-fineprint {
    display: block;
    position: absolute;
    width: var(--sale-fine-print-width);
    font-size: var(--sale-fine-print-fs);
    top: var(--sale-fine-print-top);
    left: var(--sale-fine-print-left);
    font-weight: 500;
    line-height: 1;
    color: #1D1D1E;
}

/****** Projects section *******/

.projects-outer-wrapper {
    background: var(--linear-gr-str);
    padding-block: var(--prj-margin-block);
}

.projects-inner-wrapper {
    text-align: center;
    color: #fff;
}

.projects-inner-wrapper h2 {
    font-size: var(--prj-title-fs);
    text-transform: uppercase;
}

.project-par-wrapper {
    font-size: var(--prj-subtitle-fs);
    margin-block: calc(var(--prj-margin-block) / 2);
    width: calc(var(--prj-subtitle-width) / 1.5);
    margin-inline: auto;
    font-weight: 500;
}

.projects-grid-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--prj-outer-wrapper-width);
    gap: var(--prj-grid-gap);
}

.project-image {
    position: relative;
    aspect-ratio: 1 / 1;
    width: var(--prj-img-cnt-width);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    border: 2px solid white;
}

.project-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(3, 44, 114, 0.6);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-img-overlay:hover {
    opacity: 1;
}

.loupe {
    width: 20%;
    margin-top: 25%;
}

.gallery-img-text {
    padding: 1em 3em;
    font-size: var(--prj-fine-print-fs);
    background-color: rgba(3, 44, 114, 0.6);
    border-radius: 0 0 15px 15px;
}

.project-image.first {
    background-image: url(assets/images/gallery1.png);
}

.project-image.second {
    background-image: url(assets/images/gallery2.png);
}

.project-image.third {
    background-image: url(assets/images/gallery3.png);
}

.project-image.fourth {
    background-image: url(assets/images/gallery4.png);
}

/****** About section *******/

.about-outer-wrapper {
    padding-top: var(--abt-padding-block);
    padding-bottom: calc(var(--abt-padding-block) * 2);
    position: relative;
}

.about-inner-wrapper {
    width: 87.5%;
    margin-inline: 0;
    margin-left: auto;
}

.about-title {
    display: flex;
    align-items: center;
    gap: 14%;
    background: var(--header-links-gr);
    color: #032C72;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.about-title h2 {
    font-size: var(--abt-about-title-fs);
}

.about-grid-group {
    display: grid;
    grid-template-columns: 1fr var(--abt-main-img-width);
    gap: var(--abt-grid-gap);
}

.about-float-left {
    float: left;
    width: var(--abt-float-img-left-width);
    height: var(--abt-float-img-left-height);
}

.about-float-right {
   height: var(--abt-main-img-height);
   width: var(--abt-main-img-width);
   position: relative;
   top: -1%;
   border-radius: 10px;
}

.about-header {
    font-size: var(--abt-about-header-fs);
    margin-block: var(--abt-padding-block);
    text-transform: uppercase;
}

.about-par {
    font-size: var(--abt-about-par-fs);
    width: var(--abt-par-wrapper-width);
    font-weight: 500;
}

.about-buttons-wrapper {
    padding-block: var(--abt-padding-block);
    display: flex;
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: var(--abt-big-btn-fs);
    font-weight: 800;
    height: var(--abt-big-btn-height);
    flex-shrink: 0;
}

.view-projects {
    margin-right: 1em;
    background: var(--header-links-gr);
    color: #fff;
    width: var(--abt-big-btn-left-width);
}

.contacts-btn {
    border: 2px solid rgb(3, 44, 114);
    color: rgb(3, 44, 114);
    width: var(--abt-big-btn-right-width);
}

.about-flex-subgroup {
    padding-block: var(--abt-padding-block);
    display: flex;
    gap: 0.5em;
}

.about-flex-subgroup.top {
    gap: var(--abt-padding-block);
}

.about-flex-subgroup.bottom {
    gap: 3em;
}

.flex-sb-extra-large {
    font-size: var(--abt-flex-sb-extra-large-fs);
    font-weight: 600;
}

.flex-sb-small {
    font-size: var(--abt-flex-sb-small-fs);
    display: block;
}

.flex-sb-extra-large, .flex-sb-medium {
    background: var(--header-links-gr);
    color: #032C72;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.flex-sb-medium {
    font-weight: 700;
    border-bottom: 0.2em solid transparent;
    border-image: linear-gradient(to right, #025DF8, #032C72) 1;
    padding-bottom: 0.5em;
}

.flex-sb-medium a {
    font-size: var(--abt-flex-sb-medium-fs);
}

.about-bottom-wrapper {
    margin-top: calc(var(--abt-padding-block) * 2);
    display: grid;
    grid-template-columns: repeat(4, calc(var(--abt-small-float-width)));
    justify-content: space-between;
}

.about-outer-wrapper h4 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--abt-small-float-hdr-fs);
    min-height: var(--abt-padding-block);
}

.about-grid-element p {
    font-size: var(--abt-small-float-par-fs);
    font-weight: 500;
}

.small-float {
    border-radius: 10px;
    text-align: center;
    padding: calc(var(--abt-padding-block) / 2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.small-float-left {
    left: calc(var(--abt-float-left-left) - var(--abt-padding-block));
    top: var(--abt-float-left-top);
    width: var(--abt-float-left-width);
    background-color: rgba(255, 255, 255, 0.9);
}

.small-float-left h4 {
    font-size: var(--abt-float-left-large-fs);
}
.small-float-left p {
    font-size: var(--abt-float-left-small-fs);
}
.small-float-bottom h4 {
    font-size: var(--abt-float-bottom-large-fs);
}
.small-float-bottom p {
    font-size: var(--abt-float-bottom-small-fs);
}
.small-float-top h4 {
    font-size: var(--abt-float-top-large-fs);
}
.small-float-top p {
    font-size: var(--abt-float-top-small-fs);
}

.small-float-top {
    left: var(--abt-float-top-left);
    top: var(--abt-float-top-top);
    width: var(--abt-float-top-width);
    background-color: rgba(255, 255, 255, 0.9);
}

.small-float-bottom {
    background: var(--header-links-gr);
    color: #fff;
    width: var(--abt-float-bottom-width);
    left: calc(var(--abt-float-bottom-left) - (var(--abt-float-left-offset) / 2));
    top: calc(var(--abt-float-bottom-top) + var(--abt-padding-block) * 2);
}

.small-float-left, .small-float-top {
    color: #134498;    
}

.small-float h4 {
    min-height: 0;
    margin-block: 0.5em;
}

/****** Form section *******/

.form-outer-wrapper {
    height: var(--form-main-img-height);
    position: relative;
    display: grid;
    align-content: center;
}
.form-inner-wrapper {
    width: 100%;
    height: var(--form-main-subcnt-height);
    background: var(--header-links-gr);
    display: grid;
    align-content: center;
}

.form-image {
    height: var(--form-main-img-height);
    width: var(--form-main-img-width);
    position: absolute;
    left: var(--form-main-img-offset);
}

#call-us-form {
    height: calc(var(--form-main-subcnt-height) - var(--form-form-cnt-margin-block) * 2);
    color: #fff;
    margin-left: var(--form-form-cnt-offset);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--form-btn-cnt-width);

}

.form-header {
    font-size: var(--abt-about-title-fs);
    font-weight: 800;
    text-transform: uppercase;
}

.form-par {
    font-size: var(--prj-subtitle-fs);
    font-weight: 600;
}

.policy-par {
    font-size: var(--form-policy-fs);
    font-weight: 500;
}

.form-btn-group {
    width: var(--form-btn-cnt-width);
    height: var(--form-btn-cnt-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.input-wrapper input {
    text-align: center;
    font-weight: 500;
    width: var(--bnr-phone-btn-width);
    height: var(--bnr-phone-btn-height);
    font-size: var(--bnr-phone-btn);
    color: black;
    letter-spacing: 0.1em;
    border-radius: 15px;
    border: none;
}

#submit-form-btn {
    border-radius: 15px;
    width: var(--bnr-phone-btn-width);
    height: var(--bnr-phone-btn-height);
    font-size: var(--bnr-phone-btn);
    text-transform: uppercase;
    background-color: #025DF8;
    color: #fff;
    font-weight: 800;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.policy-link {
    font-weight: 800;
    color: white;
}

/****** Camera section *******/

.camera-outer-wrapper {
    position: relative;
}

.camera-title-wrapper {
    width: var(--cmr-subtitle-width);
    margin-inline: auto;
    text-align: center;
    margin-bottom: calc(var(--abt-padding-block) * 2);
}

.camera-title {
    font-size: var(--abt-about-title-fs);
    font-weight: 700;
    text-transform: uppercase;
    margin-block: var(--abt-padding-block);
    background: var(--header-links-gr);
    color: #032C72;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.camera-subtitle {
    font-size: var(--prj-subtitle-fs);
    font-weight: 500;
}

.camera-grid-group {
    display: grid;
    grid-template-columns: 1fr var(--cmr-main-img-wrapper-width);
    width: 87.5%;
    margin-left: auto;
    margin-block: calc(var(--abt-padding-block) * 3);
}

.camera-sb-right {
    background: var(--header-links-gr);
    height: var(--cmr-main-img-wrapper-height);
}

.camera-sb-left {
    padding-block: calc(var(--abt-padding-block) * 2);
}

.camera-main-img {
    position: absolute;
    width: var(--cmr-main-img-width);
    height: var(--cmr-main-img-height);
    left: calc(var(--cmr-main-img-left-offset) - var(--cmr-main-img-width));
    top: calc(var(--cmr-main-img-top-offset) + var(--abt-padding-block)); 
    z-index: 10;
}

.camera-float {
    position: absolute;
    top: calc(var(--cmr-float-img-top-offset) + var(--abt-padding-block));
    left: var(--cmr-float-img-left-offset);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.25);
    border-radius: 19.84px;
    height: var(--cmr-float-img-height);
    width: var(--cmr-float-img-width);
}

.camera-float > *:not(.camera-float-button) {
    display: block;
    margin: 2em;
}

.camera-float-header {
    font-size: var(--cmr-float-img-hdr-fs);
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    background: var(--header-links-gr);
    color: #032C72;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.camera-float-prg {
    font-size: var(--cmr-float-img-small-fs);
    text-align: center;
    font-weight: 500;
}

.camera-float-button {
    position: relative;
    font-size: var(--cmr-float-img-hdr-fs);
    font-weight: 700;
    background: var(--header-links-gr);
    color: #032C72;
    border: none;
    cursor: pointer;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.camera-float-button::after {
    content: '';
    position: absolute;
    bottom: -1.5em; 
    left: 0;
    width: 80%; 
    translate: 10%;
    height: 0.1em; 
    background: var(--header-links-gr); 
}


.camera-list-item {
    font-size: var(--cmr-list-item-fs);
    font-weight: 700;
    color: #1D1F1E;
    text-transform: uppercase;
    letter-spacing: 0.0.8em;
    list-style: none;
    padding-block: calc(var(--abt-padding-block) / 2);
    padding-left: 2.8em;

    background-image: url(assets/images/cmr-list-item-icon.png);
    background-size: var(--cmr-icon-width);
    background-repeat: no-repeat;
    background-position: left;
}

.camera-sb-left-link {
    display: block;
    margin-block: calc(var(--abt-padding-block) * 4);
    position: relative;
    font-size: calc(var(--cmr-float-img-hdr-fs) * 1.25);
    font-weight: 700;
    background: var(--header-links-gr);
    color: #032C72;
    border: none;
    cursor: pointer;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.camera-sb-left-link::after {
    content: '';
    position: absolute;
    bottom: -1em; 
    left: 0;
    width: 60%; 
    height: 0.2em; 
    background: var(--header-links-gr); 
}

/****** Marketing section *******/

.mrk-outer-wrapper {
    background: var(--header-links-gr);
    height: var(--mrk-main-cnt-height);
    position: relative;
    display: grid;
}

.mrk-outer-wrapper::after {
    content: "";
    background-image: url(assets/images/mrk-bg-img.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.25; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;  
  }

.mrk-main-subwrapper {
    height: var(--mrk-subwrapper-height);
    width: var(--mrk-subwrapper-width);
    margin-top: var(--mrk-subwrapper-margin-top);
    margin-inline: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 4;  
}

.mrk-top-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: var(--mkr-top-btn-width);
    height: var(--mrk-top-btn-height);
    background-color: rgb(255,255,255,0.95);
    border-radius: 9.19px;
}

.mrk-tbtn-left {
    font-size: var(--mrk-top-btn-large-fs);

}

.mrk-tbtn-right {
    font-size: var(--mrk-top-btn-small-fs);

}

.mrk-tbtn-right, .mrk-tbtn-left {
    font-weight: 600;
    color: #1D1F1E;
    display: grid;
    place-content: center;
}

.mrk-btm-btn {
    display: flex;
    align-items: center;
    color: #FFF;
}

.mrk-lowbtn-icon-wrapper {
    display: flex;
    width: var(--mrk-lowbtn-icon-wrapper-width);
}

.mrk-lowbtn-header {
    font-size: var(--mrk-btm-btn-large-fs);
    font-weight: 600;
    width: var(--mrk-lowbtn-header-width);
}

.mrk-lowbtn-prg {
    width: var(--mrk-lowbtn-prg-width);
    font-size: var(--mrk-btm-btn-small-fs);
    font-weight: 600;
}

.mrk-icon {
    width: var(--mrk-btn-icon-width);
}

#mrk-red-btn {
    width: var(--mrk-red-btn-width);
    height: var(--mrk-red-btn-height);
    background-color: #EA0000;
    font-size: var(--mrk-red-btn-fs);
    font-weight: 800;
    display: grid;
    place-content: center;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    border-radius: 10px;
}

/****** Calculation section *******/

.calculation {
    background: var(--header-links-gr) !important;
    display: none;
}

.calculation-title {
    color: #FFF !important;
}

/****** Customers section *******/

.customers-outer-wrapper {
    padding-block: var(--mrk-subwrapper-margin-top);
}

.customers-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--mrk-top-btn-height);
}

.customers-title {
    font-size: var(--abt-about-title-fs);
    font-weight: 700;
    text-transform: uppercase;
    margin-block: var(--abt-padding-block);
    background: var(--header-links-gr);
    color: #032C72;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.customers-subtitle {
    font-size: var(--prj-subtitle-fs);
    font-weight: 500;
}

.customers-grid-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.partner {
    font-size: calc(var(--abt-about-title-fs) * 0.8);
    font-weight: 600;
}

.partner:first-of-type {
    color: rgb(149, 98, 199);
}

/****** Reviews section *******/

.reviews-outer-wrapper {
    background: var(--header-links-gr);
    padding-block: var(--form-form-cnt-margin-block);
}

.reviews-title-wrapper {
    width: 75%;
    margin-inline: auto;
    text-align: center;
}

.reviews-title {
    font-size: var(--abt-about-title-fs);
    font-weight: 700;
    text-transform: uppercase;
    margin-block: var(--abt-padding-block);
    color: #FFF;
}

.reviews-subtitle {
    font-size: var(--prj-subtitle-fs);
    margin-bottom: var(--abt-padding-block);
    font-weight: 500;
    color: #FFF;
}

.reviews-grid-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    gap: 1em;
    align-items: start;
}

.review {
    padding: 1.5em;
    cursor: pointer;
    margin-bottom: 1em;
    transition: all 0.5s ease-in-out;
    color: #1D1F1E;
    background-color: #fff;
    border-radius: 10px;
}

.review p {
    font-weight: 600;
    font-size: var(--prj-subtitle-fs);
}

.review .light-fw {
    font-weight: 400;
}

.expanded {
    opacity: 0;
    display: none;
    transition: opacity 0.15s;
}

.expand_button {
    --expand-btn-gr: linear-gradient(to right, #025DF8 0%, #032C72 70%);
    font-size: var(--form-policy-fs);
    text-align: left;
    border: 1px solid var(--primary-text-color);
    cursor: pointer;
    margin-bottom: 2.5em;
    position: relative;
	font-weight: 700;
    background: var(--header-links-gr);
    color: #032C72;
    border: none;
    cursor: pointer;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.expand_button::after {
    content: '';
    position: absolute;
    bottom: -1em; 
    left: 0;
    width: var(--expand-button-after-width, 45%); 
    height: 0.15em; 
    background: var(--expand-btn-gr); 
}

.expand_button:focus, .expand_button:hover {
    color: #03245c;
    outline: none;
    --expand-btn-gr: #03245c;
}

/****** Team section *******/

.team-outer-wrapper {
    padding-block: var(--form-form-cnt-margin-block);
}

.team-inner-wrapper {
    width: 67%;
}

.team-title-wrapper {
    width: 75%;
    margin-inline: auto;
    text-align: center;
}

.team-title {
    font-size: var(--abt-about-title-fs);
    font-weight: 700;
    text-transform: uppercase;
    margin-block: var(--abt-padding-block);
    background: var(--header-links-gr);
    color: #032C72;
    border: none;
    cursor: pointer;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.team-subtitle {
    font-size: var(--prj-subtitle-fs);
    margin-bottom: var(--abt-padding-block);
    font-weight: 500;
    color: #1D1F1E;
}

.team-grid-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--abt-padding-block);
    align-items: stretch;
}

.team-member {
    display: flex;
    flex-direction: column;
  }
  
.team-desc-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.team-member-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10px 10px 0 0;
}

.team-desc-wrapper {
    padding: calc(var(--abt-padding-block) / 1.5);
    background: var(--main-gr2);
    border-radius: 0 0 10px 10px;
}

.team-desc-wrapper > * {
    margin-block: calc(var(--abt-padding-block) / 4);
    letter-spacing: 0.05em;
}

.team-desc-title {
    font-size: var(--abt-about-header-fs);
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-top: 0;
}

.team-desc-subtitle {
    font-size: var(--abt-float-left-small-fs);
    color: #fff;
    font-weight: 400;
}

.team-desc-prg {
    font-size: var(--cmr-float-img-small-fs);
    color: #fff;
    font-weight: 600;
}